<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>&apos;ametart&apos;</string>
		<string>&apos;https://www.ametart.com&apos;</string>
		<string>1</string>
	</array>
	<array>
		<string>&apos;sexyAsianGirl&apos;</string>
		<string>&apos;https://www.sexyasiangirl.xyz&apos;</string>
		<string>2</string>
	</array>
	<array>
		<string>&apos;24fa&apos;</string>
		<string>&apos;https://www.177w.cc&apos;</string>
		<string>3</string>
	</array>
	<array>
		<string>&apos;elitebabes&apos;</string>
		<string>&apos;https://www.elitebabes.com&apos;</string>
		<string>4</string>
	</array>
	<array>
		<string>&apos;sxchinesegirlz&apos;</string>
		<string>&apos;https://sxchinesegirlz.one&apos;</string>
		<string>5</string>
	</array>
	<array>
		<string>&apos;漂亮网红图&apos;</string>
		<string>&apos;http://www.plwht.com&apos;</string>
		<string>6</string>
	</array>
	<array>
		<string>&apos;omegaproject&apos;</string>
		<string>&apos;https://www.theomegaproject.org/galleries&apos;</string>
		<string>7</string>
	</array>
	<array>
		<string>&apos;gyrls&apos;</string>
		<string>&apos;https://www.gyrls.com&apos;</string>
		<string>8</string>
	</array>
</array>
</plist>
