<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>'ametart'</string>
		<string>'https://www.ametart.com'</string>
		<string>1</string>
	</array>
	<array>
		<string>'sexyAsianGirl'</string>
		<string>'https://www.sexyasiangirl.xyz'</string>
		<string>2</string>
	</array>
	<array>
		<string>'24fa'</string>
		<string>'https://www.177w.cc'</string>
		<string>3</string>
	</array>
	<array>
		<string>'elitebabes'</string>
		<string>'https://www.elitebabes.com'</string>
		<string>4</string>
	</array>
	<array>
		<string>'sxchinesegirlz'</string>
		<string>'https://sxchinesegirlz.one'</string>
		<string>5</string>
	</array>
	<array>
		<string>'漂亮网红图'</string>
		<string>'http://www.plwht.com'</string>
		<string>6</string>
	</array>
	<array>
		<string>'omegaproject'</string>
		<string>'https://www.theomegaproject.org/galleries'</string>
		<string>7</string>
	</array>
</array>
</plist>
